/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #3586ff;
}
#header {
  background: white;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.logo-img {
  margin-left: 20px;
  padding-top: 10px;
  float: left;
  height: 80px;
  margin-bottom: -20px;
  
}

nav ul {
  overflow: hidden;
  clear: both;
  margin: 0;
  padding: 0;
  max-height: 0;
  transition: max-height .2s ease-out;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  font-size: 1.15;
  text-decoration: none;
  color: black;
  padding: 10px;
}

a.highlight {
    display: block;
  font-size: 1.15;
  text-decoration: none;
  color: black;
  padding: 10px;
}

/* menu icon */

.menu {
  margin-left: 15px;
}

#header .menu-icon {
  cursor: pointer;
  padding: 28px 20px;
  user-select: none;
  float: right;
}

#header .menu-icon .nav-icon {
  background: #333;
  display: block;
  height: 3px;
  position: relative;
  top: 10px;
  transition: background .2s ease-out;
  width: 30px;
}

#header .menu-icon .nav-icon:before,
#header .menu-icon .nav-icon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

#header .menu-icon .nav-icon:before {
  top: 6px;
}

#header .menu-icon .nav-icon:after {
  top: -6px;
}

/* menu btn */

#header .menu-btn {
  display: none;
}

#header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

#header .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

#header .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top:0;
}

#header .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top:0;
}
@media screen and (min-width: 820px) {
  .container {
    max-width: 80vw;
  }
  
  .menu-container {
    max-width: 100vw;
  }
  
  header {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-flow: wrap;
  }
  
  #header {
    background: white;
    padding-bottom: 1vh;
  }
  
  #header-img {
    margin-left: -100px;
  }
  
  .menu {
  margin-top: 20px;
  }
  
  nav {
    margin-right: -100px;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
  }
  
  nav ul li {
    float: left;
    list-style: none;
    padding: 0.5em 1em;
  }
  nav ul li a {
    font-size: 1em;
    text-decoration: none;
    color: #333;
    padding: 0;
  }
  
  a.highlight {
    font-size: 1em;
    text-decoration: none;
    color: #333;
    padding: 0.5em 1em;
  }
  
  #header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  #header .menu-icon {
    display: none;
  }
  
  .highlight {
    border: 1px solid #333;
    border-radius: 50px;
  }
  
  .highlight:hover,.special:hover {
    background: black;
    color: white;
    border-bottom: none;
  }
}
.logo-img {
  margin-left: 20px;
  padding-top: 10px;
  float: left;
  height: 80px;
  margin-bottom: -20px;
  
}
.container{
  width: 450px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.05);
}
.container h2{
  font-weight: 600;
  font-size: 1.31rem;
  padding: 1rem 1.75rem;
  border-bottom: 1px solid #d4dbe5;
}
.wrapper{
  margin: 1.25rem 1.75rem;
}
.wrapper .input-box{
  position: relative;
}
.input-box input{
  width: 100%;
  height: 53px;
  color: #000;
  background: none;
  font-size: 1.06rem;
  font-weight: 500;
  border-radius: 4px;
  letter-spacing: 1.4px;
  border: 1px solid #aaa;
  padding: 0 2.85rem 0 1rem;
}
.input-box span{
  position: absolute;
  right: 13px;
  cursor: pointer;
  line-height: 53px;
  color: #707070;
}
.input-box span:hover{
  color: #4285F4!important;
}
.wrapper .pass-indicator{
  width: 100%;
  height: 4px;
  position: relative;
  background: #dfdfdf;
  margin-top: 0.75rem;
  border-radius: 25px;
}
.pass-indicator::before{
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  border-radius: inherit;
  transition: width 0.3s ease;
}
.pass-indicator#weak::before{
  width: 20%;
  background: #E64A4A;
}
.pass-indicator#medium::before{
  width: 50%;
  background: #f1c80b;
}
.pass-indicator#strong::before{
  width: 100%;
  background: #3586ff;
}
.wrapper .pass-length{
  margin: 1.56rem 0 1.25rem;
}
.pass-length .details{
  display: flex;
  justify-content: space-between;
}
.pass-length input{
  width: 100%;
  height: 5px;
}
.pass-settings .options{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  margin-top: 1rem;
}
.pass-settings .options .option{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  width: calc(100% / 2);
}
.options .option:first-child{
  pointer-events: none;
}
.options .option:first-child input{
  opacity: 0.7;
}
.options .option input{
  height: 16px;
  width: 16px;
  cursor: pointer;
}
.options .option label{
  cursor: pointer;
  color: #4f4f4f;
  padding-left: 0.63rem;
}
.wrapper .generate-btn{
  width: 100%;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  background: #3586ff;
  font-size: 1.06rem;
  padding: 0.94rem 0;
  border-radius: 5px;
  text-transform: uppercase;
  margin: 0.94rem 0 1.3rem;
}
